@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #F9FAFB;
  color: #1F2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}